.link-1 {
    height: 16px;
    max-width: 100px;
    font-size: 14px;
    font-weight: normal;
    line-height: 10px;
    color: #0096D6;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    display: inline-block;
}
