/*
  {
    title: "CON",
    pages: [
      {
        path: "hideme",
        title: "hideme",
        content: pageLoader(() => import("./ip/style/about.md"))
      }
    ]
  },

 */
li > div [href] {
  cursor: pointer;
  /* TODO: Implement autoprefixer when switching to postcss to avoid all this extra style*/
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ }
  li > div [href]::selection {
    background: transparent; }
  li > div [href]::-moz-selection {
    background: transparent; }
li > div > [href="/hideme"] {
  color: black;
  font-size: 14px;
  line-height: 1.5715;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 5px;
  pointer-events: none;
  cursor: default; }
  li > div > [href="/hideme"]:hover {
    color: black; }
  li > div > [href="/hideme"] + ul {
    display: none; }

div[menu=sub] {
  padding: 0px 24px 0px 60px; }
  div[menu=sub] a {
    padding: 8px 0px 8px 0px; }
  div[menu=sub] > div > [items] {
    padding-left: 24px; }

#catalog [class*='-NavigationBar'] {
  display: none; }

[layout], .site-card-wrapper {
  width: 100%;
  background: white;
  margin-bottom: 24px; }
  [layout][type=card], .site-card-wrapper[type=card] {
    background: transparent; }
  [layout] > div, .site-card-wrapper > div {
    padding-top: 0px; }
    [layout] > div > div, .site-card-wrapper > div > div {
      width: 100%; }
  [layout] [class*='-Page'] [class*='-Page'], .site-card-wrapper [class*='-Page'] [class*='-Page'] {
    margin-left: 0px; }
  [layout] [class*='-page-header'], .site-card-wrapper [class*='-page-header'] {
    padding-left: 0; }
    [layout] [class*='-page-header'] [class*='-heading-title'], .site-card-wrapper [class*='-page-header'] [class*='-heading-title'] {
      font-size: 32px; }
  [layout] .ant-tabs-nav, .site-card-wrapper .ant-tabs-nav {
    display: flex; }
    [layout] .ant-tabs-nav .ant-tabs-tab-active, .site-card-wrapper .ant-tabs-nav .ant-tabs-tab-active {
      color: #00529A; }
      [layout] .ant-tabs-nav .ant-tabs-tab-active .ant-card, .site-card-wrapper .ant-tabs-nav .ant-tabs-tab-active .ant-card {
        background: #00529A;
        border-color: #00529A;
        color: #fff; }
        [layout] .ant-tabs-nav .ant-tabs-tab-active .ant-card [class*='-meta-detail'] > div, .site-card-wrapper .ant-tabs-nav .ant-tabs-tab-active .ant-card [class*='-meta-detail'] > div {
          color: white; }
          [layout] .ant-tabs-nav .ant-tabs-tab-active .ant-card [class*='-meta-detail'] > div[class*=-description], .site-card-wrapper .ant-tabs-nav .ant-tabs-tab-active .ant-card [class*='-meta-detail'] > div[class*=-description] {
            color: #ffffff8c; }
    [layout] .ant-tabs-nav .ant-tabs-ink-bar, .site-card-wrapper .ant-tabs-nav .ant-tabs-ink-bar {
      background-color: #00529A; }
    [layout] .ant-tabs-nav > div, .site-card-wrapper .ant-tabs-nav > div {
      flex: 1;
      width: 100%; }
      [layout] .ant-tabs-nav > div > [role=tab], .site-card-wrapper .ant-tabs-nav > div > [role=tab] {
        width: 49%; }
  [layout] h4.ant-typography, .site-card-wrapper h4.ant-typography {
    font-weight: 300;
    font-size: 17px;
    margin-top: 32px;
    opacity: 1; }
  [layout] h4.footer-title, .site-card-wrapper h4.footer-title {
    margin-bottom: -16px; }

[role=tabpanel] [layout=panel] {
  margin-top: 24px; }

.ant-page-header-footer .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
  margin-right: 2px; }

.ant-page-header-heading-extra {
  display: flex; }

.site-custom-tab-bar {
  z-index: 1;
  background: #fff; }

[data-theme="dark"] .site-custom-tab-bar {
  background: #141414; }

.image {
  margin: 0 0 0 60px;
  display: flex;
  align-items: center; }

.ant-page-header-rtl .image {
  margin: 0 60px 0 0; }

.example-link {
  line-height: 24px;
  margin-right: 16px; }

[data-theme='compact'] .example-link {
  line-height: 20px; }

.example-link-icon {
  margin-right: 8px; }

[data-theme='compact'] .example-link-icon {
  width: 20px;
  height: 20px; }

.ant-page-header-rtl .example-link {
  float: right;
  margin-right: 0;
  margin-left: 16px; }

.ant-page-header-rtl .example-link-icon {
  margin-right: 0;
  margin-left: 8px; }

@media (max-width: 768px) {
  .image {
    flex: 100%;
    margin: 24px 0 0; } }

/*# sourceMappingURL=globals.css.map */
