/*
  {
    title: "CON",
    pages: [
      {
        path: "hideme",
        title: "hideme",
        content: pageLoader(() => import("./ip/style/about.md"))
      }
    ]
  },

 */

li > div {
  [href] {
    cursor: pointer;

    &::selection {
      background: transparent;
    }
    &::-moz-selection {
      background: transparent;
    }

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
  > [href="/hideme"] {
    //height: 1.5715;
    //padding: 8px 16px;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    line-height: 1.5715;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 5px;
    pointer-events: none;
    cursor: default;

    &:hover {
      color: rgba(0,0,0,1);
    }

    & + ul {
      display:none;
    }
  }


}
