/*
  {
    title: "CON",
    pages: [
      {
        path: "hideme",
        title: "hideme",
        content: pageLoader(() => import("./ip/style/about.md"))
      }
    ]
  },

 */

li > div {
  [href] {
    cursor: pointer;

    /* TODO: Implement autoprefixer when switching to postcss to avoid all this extra style*/
    &::selection {
      background: transparent;
    }
    &::-moz-selection {
      background: transparent;
    }

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
  > [href="/hideme"] {
    //height: 1.5715;
    //padding: 8px 16px;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    line-height: 1.5715;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 5px;
    pointer-events: none;
    cursor: default;

    &:hover {
      color: rgba(0,0,0,1);
    }

    & + ul {
      display:none;
    }
  }
}

div[menu=sub] {
  padding: 0px 24px 0px 60px;

  a {
    //font-style: normal;
    //font-weight: 400;
    //text-rendering: optimizeLegibility;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    //-webkit-letter-spacing: normal;
    //-moz-letter-spacing: normal;
    //-ms-letter-spacing: normal;
    //letter-spacing: normal;
    //color: #00529A;
    //font-family: 'Roboto',sans-serif;
    //font-size: 1rem;
    //line-height: 1.44;
    //background: none;
    //border: none;
    //-webkit-transition: none;
    //transition: none;
    //border-top: 1px solid #EBEBEB;
    //cursor: pointer;
    //display: block;
    //margin: 0;
    //-webkit-text-decoration: none;
    //text-decoration: none;
    //border-top: none;
    //border-bottom: none;
    padding: 8px 0px 8px 0px;
  }

  > div {

    a {
      //color:black;
    }
    > [items] {
      padding-left:24px;
      > a {

      }
    }
  }
}
