/*
  {
    title: "CON",
    pages: [
      {
        path: "hideme",
        title: "hideme",
        content: pageLoader(() => import("./ip/style/about.md"))
      }
    ]
  },

 */

li > div {
  [href] {
    cursor: pointer;

    /* TODO: Implement autoprefixer when switching to postcss to avoid all this extra style*/
    &::selection {
      background: transparent;
    }
    &::-moz-selection {
      background: transparent;
    }

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
  > [href="/hideme"] {
    //height: 1.5715;
    //padding: 8px 16px;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    line-height: 1.5715;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 5px;
    pointer-events: none;
    cursor: default;

    &:hover {
      color: rgba(0,0,0,1);
    }

    & + ul {
      display:none;
    }
  }
}

div[menu=sub] {
  padding: 0px 24px 0px 60px;

  a {
    padding: 8px 0px 8px 0px;
  }

  > div {

    a {
      //color:black;
    }
    > [items] {
      padding-left:24px;
      > a {

      }
    }
  }
}

#catalog {
  [class*='-NavigationBar'] {
    display:none;
  }
}

[layout], .site-card-wrapper {
  width:100%;
  background:white;
  margin-bottom:24px;

  &[type=card] {
    background:transparent;
  }
  > div {
    padding-top:0px;

    > div {
      width:100%;

    }
  }


  [class*='-Page'] {

    [class*='-Page'] {
      margin-left:0px;
    }
  }

  [class*='-page-header'] {
    padding-left:0;

    [class*='-heading-title'] {
      font-size:32px;
    }
  }

  .ant-tabs-nav {
    display:flex;
    .ant-tabs-tab-active{
      color:#00529A;

      .ant-card {
        background: #00529A;
        border-color: #00529A;
        color: #fff;

        [class*='-meta-detail'] {
          > div {
            color:white;
            &[class*=-description] {
              color: #ffffff8c
            }
          }
        }
      }
    }
    .ant-tabs-ink-bar {
      background-color:#00529A;
    }

    > div {
      flex:1;
      width:100%;
      > [role=tab] {
        width:49%;
      }
    }
  }

  h4 {
    &.ant-typography {
      font-weight: 300;
      font-size: 17px;
      margin-top: 32px;
      opacity: 1;
    }
    &.footer-title {
      margin-bottom:-16px;
    }
  }

}
[role=tabpanel] {
  [layout=panel] {
    margin-top:24px;
  }
}


.ant-page-header-footer .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
  margin-right:2px;
}
.ant-page-header-heading-extra {
  display:flex;
}
.site-custom-tab-bar {
  z-index: 1;
  background: #fff;
}
[data-theme="dark"] .site-custom-tab-bar {
  background: #141414;
}


.image {
  margin: 0 0 0 60px;
  display: flex;
  align-items: center;
}

.ant-page-header-rtl .image {
  margin: 0 60px 0 0;
}

.example-link {
  line-height: 24px;
  margin-right: 16px;
}
[data-theme='compact'] .example-link {
  line-height: 20px;
}
.example-link-icon {
  margin-right: 8px;
}

[data-theme='compact'] .example-link-icon {
  width: 20px;
  height: 20px;
}

.ant-page-header-rtl .example-link {
  float: right;
  margin-right: 0;
  margin-left: 16px;
}
.ant-page-header-rtl .example-link-icon {
  margin-right: 0;
  margin-left: 8px;
}

@media (max-width: 768px) {
  .image {
    flex: 100%;
    margin: 24px 0 0;
  }
}
