
.btn-container {
    width: 100%;
}
.btn-wrapper-left {
    width: 100%;
    float: left;
}
    .btn-type{
    font-family: 'helvetica, sans-serif';
    font-size: 20px;
    line-height: 30px;
    border-bottom: 2px solid #0096D6;
    margin-bottom: 20px;
    /* width: 60%; */
   
    }
    .btn-type > ul {
      padding-left: 18px;
}
    
    
.btn-type-text {
    max-width:140px; 
    width: 140px;
    height:40px;
    border-radius: 4px; 
    color: #292929; 
    line-height: 30px; 
    text-align: center; 
    margin-bottom: 30px;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
}

.btn-type-info {
    color: #333;
    font-family: HelveticaNeue, sans-serif;
    font-size: 16px;
    line-height: 21px;
}

.btn {
    max-width:140px;
    width: 50%; 
    height:40px; 
    border-radius: 4px; 
    color: #fff; 
    line-height: 40px; 
    text-align: center; 
    margin-bottom: 30px;
    margin-right: 30px;
    font-size: 14px; 
    font-family: helvetica;
    cursor: pointer;
    float: left;
}
.btn-default {
    background: #0991CB;
}


.btn-disable{
    background: #CCCCCC;
}
.btn-small {
    max-width:100px;
    width: 50%; 
    height:40px; 
    border-radius: 4px; 
    color: #fff; 
    line-height: 40px; 
    text-align: center; 
    margin-bottom: 30px;
    margin-right: 30px;
    font-size: 14px; 
    font-family: helvetica;
    cursor: pointer;
    float: left;
}

.btn-small-default {
    background: #0991CB;
}
.btn-disable-small {
    background: #CCCCCC;
    
}
.btn-small-hover {
    background: #0991CB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}
.btn-default-hover {
    background: #0991CB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

.side-option > ul {
    list-style: decimal;
}

/* .btn-secondary {
    max-width:140px;
    width: 50%; 
    height:40px; 
    line-height: 40px; 
    text-align: center; 
    margin-right: 30px;
    margin-bottom:30px;
    font-size: 14px; 
    font-family: helvetica;
    cursor: pointer;
    float: left;

} */
.btn-secondary-default {
    background: #fff; 
    border-radius: 4px; color: #666666; 
    border: 1px solid #666666;
    width: 100%;
}

.btn-secondary-hover {
    border: 1px solid #0991CB;
    background: #fff; 
    border-radius: 4px; color: #666666;
    width: 100%;
}
.btn-small-secondary {
    border: 1px solid #666666;
    background: #fff; 
    border-radius: 4px; color: #666666;
    width: 100%;
}
.btn-secondary-hover {
    border: 1px solid #0991CB;
}




