body {
  font-family: sans-serif;
  background-color: rgba(247,247,247,0.90196);
}
* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
spacer {
  height: 16px;
  display:block;
  width:100%;
  flex:initial
}
spacer[type=section] {
    padding:32px;
  }
layout {
  display:flex;
  flex-wrap: wrap
}
layout[type=sidebyside] > * {
      flex:initial;
    }
title {
  display:flex;
}
.app, #app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.app > div, #app > div {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /*
      @media all and (--phone) {
        max-width: var(--phoneContainerWidth);
      }

      @media all and (--tablet) {
        max-width: var(--tabletContainerWidth);
      }

      @media all and (--desktop) {
        max-width: var(--desktopContainerWidth);
      }

      @media all and (--largeDesktop) {
        max-width: var(--largeDesktopContainerWidth);
      }
      */
  }
.content {
  flex: 1 1;
  background-color: var(--color-grey);
  padding: 50px 15px;
}
.footer {
  background-color: var(--color-grey);
  padding: 30px 15px;
}

wrapper, thing {
    position:relative;
    display:block;
}

block {
    display:block;
    position:relative;
    display:flex;
    flex:1 1;
    flex-wrap:wrap;
    flex-direction:column;;
    background:white;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 10;
}

block > wrapper {
        padding: 24px 48px;
        display:flex;
        flex:1 1;
    }

block > wrapper > wrapper {
            display:flex;
            flex-wrap:wrap;
            flex-direction:column;
            z-index:1;
        }

block > wrapper > wrapper:empty {
    display:none;
}

block > wrapper > wrapper:nth-child(1) {
                flex-direction:row;
}

block > wrapper > wrapper:nth-child(1):empty {
    display:none;
}

block > wrapper > wrapper:nth-child(1) > svg {
    fill:#333333;
}

block > wrapper > wrapper:nth-child(1)[hugeness] {
    display:flex;
                flex-direction:row;
    align-items:center;
    justify-content:flex-start;
}

block > wrapper > wrapper:nth-child(1)[hugeness=xs] {
    width:24px;
}

block > wrapper > wrapper:nth-child(1)[hugeness=xs] > svg {
    height:16px;
    width:16px;
}

block > wrapper > wrapper:nth-child(1)[hugeness=s] {
    width:40px;
}

block > wrapper > wrapper:nth-child(1)[hugeness=s] > svg {
    height:24px;
    width:24px;
}

block > wrapper > wrapper:nth-child(1)[hugeness=m] {
    width:64px;
}

block > wrapper > wrapper:nth-child(1)[hugeness=m] > svg {
    height:40px;
    width:40px;
}

block > wrapper > wrapper:nth-child(1)[hugeness=l] {
    width:88px;
}

block > wrapper > wrapper:nth-child(1)[hugeness=l] > svg {
    height:56px;
    width:56px;
}

block > wrapper > wrapper:nth-child(2) {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    flex:1 1;
}

block > wrapper > wrapper:nth-child(2) > thing:nth-child(1) {
                    font-size:20px;
                    font-weight:700;
                    text-transform:uppercase;
                }

block > wrapper > wrapper:nth-child(2) > thing {
    width:100%;
    font-size:14px;
    margin:0 0 8px 0;
}

block > wrapper > wrapper:nth-child(2) > thing > thing:nth-child(1) {
                    font-size:20px;
                    font-weight:700;
                    text-transform:uppercase;
                }

block > wrapper > wrapper:nth-child(2) > thing:empty {
    display:none;
}

block > wrapper > wrapper:nth-child(2) > thing:last-child {
    margin-bottom:0px;
}

block > wrapper > wrapper:nth-child(3) {
    display:flex;
                flex-direction:row;
    justify-content:flex-end;
    flex:initial;
    min-width:40px;
    margin:0 0 0 8px;
    padding:0 0 0 0;
}

block > wrapper > wrapper:nth-child(3) > svg {
                    height:16px;
                    width:16px;
                }

block > wrapper > wrapper:nth-child(3) > action {
                    font-weight:700;
                    color:#1778d3;
                    cursor:pointer;
                    text-transform:uppercase;
                }

block > wrapper > wrapper:nth-child(3):empty {
    display:none;
}

block > wrapper > wrapper > thing:nth-child(1) {
                        margin-top:0px;
                    font-size:20px;
                    font-weight:700;
                    text-transform:uppercase
                }

block > wrapper > wrapper > thing:nth-child(1)[currency=true] {
                        font-size:24px;
                        font-weight: normal;
                    }

block > wrapper > wrapper > thing:nth-child(1)[currency=true] > b {
                            font-size:16px;
                            display: block;
                            float: left;
                            margin-top: 2px;
                            width: 10px;
                        }

block > wrapper > wrapper > thing:nth-child(1)[uppercase=false] {
                        text-transform:none;
                        text-transform:initial;
                    }

block > wrapper > wrapper > thing:nth-child(2) ~ thing:nth-child(4) {
                        margin-top:22px;
                    }

block > wrapper > wrapper > thing:nth-child(2):empty ~ thing:nth-child(4) {
                            margin-top:8px;
                        }

block > wrapper > wrapper > thing:nth-child(3) {
                    display:flex;
                }

block > wrapper > wrapper > thing:nth-child(3):empty {
    display:none;
}

wrapper[type=title] title {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
  }

button[type] {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    min-width: 104px;
    max-width: 200px;
    padding: 0 24px;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    background: #ffffff;
    height: 48px;
    flex: initial;
    outline: none;
    text-shadow: 0 0 0 currentColor;
    text-transform: uppercase;
    -webkit-appearance: initial;
    z-index: 10;
}
button[type]:first-child {
    margin-left: 0px;
}
button[type]:last-child {
    margin-right: 0px;
}

svg {
  display: inline-block;
  fill: currentColor;
}
svg[hugeness=xs] {
  height: 16px;
  width: 16px;
}
svg[hugeness=s] {
  height: 24px;
  width: 24px;
}
svg[hugeness=m] {
  height: 40px;
  width: 40px;
}
svg[hugeness=l] {
  height: 56px;
  width: 56px;
}

thing {
  position:relative;
  display:block;
}

[pixel=fields] {
  display:flex;
  flex:1 1;
  justify-content: flex-end;
}

  [pixel=fields] [pixel=field] {
    display:flex;
    flex:initial;
    flex-direction: column;
    font-size:14px;
  }

  [pixel=fields] [pixel=field] > div {
      width:100%;
    }

  [pixel=fields] [pixel=field]:nth-child(1) {

    }

  [pixel=fields] [pixel=field]:nth-child(2) {
      margin-left:16px;
    }

  [pixel=fields] [pixel=field]:nth-child(2) > div {

      }

  [pixel=fields] [pixel=field] > div:nth-child(1) {

      }

  [pixel=fields] [pixel=field] > div:nth-child(2) {
        color:grey;
      }

wrapper {
    display:block;
    position:relative;
}
  wrapper[layout=wrap] {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
  }
  wrapper[layout=wrap] > * {
      flex:1 1
    }
  wrapper[layout=wrap] > *[spacing="natural"] {
        flex:initial;
      }
  wrapper[layout=wrap] > *[spacing="half"] {
        flex:calc(1 / 2) 1;
      }
  wrapper[layout=wrap] > *[spacing="third"] {
        flex:calc(1 / 3) 1;
      }

action {
  display: block;
  position: relative;
}


drawer {
    display:block;
    position:relative;
    z-index:1;
    width:100%;
    border-radius:0 0 3px 3px;
    background:#F7F7F7;
}

    drawer[type=header] {
    padding-top:40px;
}

    drawer[type=body] {
    padding:40px 0 40px 0;
        z-index:100;
}

    drawer[type=footer] {
    display:flex;
    min-height:64px;
}

    drawer[type=footer] > action[type]:last-child {
                display:flex;
                justify-content:flex-end;
            }

    drawer[type=footer]:empty {
    display:none;
}

    drawer[type=footer]:before {
    content:" ";
    position:absolute;
    top:0;
    left:-48px;
    width:calc(100% + 96px);
    border-top:1px solid #CCCCCC;
    z-index:1;
}

drawer > wrapper {
    padding:0 48px 0 48px;
}

drawer > wrapper > wrapper {
    z-index:1;
}

drawer > wrapper > wrapper:empty {
    display:none;
}

drawer > wrapper > wrapper[type=header] {
    padding-top:40px;
}

drawer > wrapper > wrapper[type=body] {
    padding:40px 0 40px 0;
        z-index:100;
}

drawer > wrapper > wrapper[type=footer] {
    display:flex;
    min-height:64px;
}

drawer > wrapper > wrapper[type=footer] > action[type]:last-child {
                display:flex;
                justify-content:flex-end;
            }

drawer > wrapper > wrapper[type=footer]:empty {
    display:none;
}

drawer > wrapper > wrapper[type=footer]:before {
    content:" ";
    position:absolute;
    top:0;
    left:-48px;
    width:calc(100% + 96px);
    border-top:1px solid #CCCCCC;
    z-index:1;
}

action {
  display: block;
  position: relative;
}
  action> block {
      cursor: pointer;
    }
  action block > wrapper > wrapper > thing:nth-child(1) {
    font-weight: 700;
    color: #1778d3;
    cursor: pointer;
    text-transform: uppercase;
  }
action[arrow] block > wrapper > wrapper > thing:nth-child(1), action[drawer] block > wrapper > wrapper > thing:nth-child(1), action[indicator] block > wrapper > wrapper > thing:nth-child(1) {
      color: #333333;
    }
action[drawer] {
    border: 3px solid rgba(255,255,255,0);
    border-radius: 6px;
    transition: border-color .3s ease-out;
    position: relative;
    perspective: 700px;
    perspective-origin: center;
    overflow: hidden;
    z-index: 10;
  }
action[drawer] block > wrapper > wrapper:nth-child(3) > svg {
      transform: rotate(0deg);
      transition: .3s transform ease;
    }
action[drawer=expanded] {
    border-color:#1778d3;
  }
action[drawer=expanded] block > wrapper > wrapper:nth-child(3) > svg {
      transform: rotate(180deg);
    }

action[type=button] {
    display:flex;
    align-items:center;
    font-weight:500;
    color:#1778d3;
    cursor:pointer;
    text-transform:uppercase;
    flex:1 1;
    -webkit-appearance:initial;
    padding:24px 0px;
}

  action[type=button][theme=primary] > button {
    background:#1778d3;
    border-color:#1778d3;
    color:#ffffff;
}

  action[type=button][theme=primary] > button:hover {
    background:#2685de;
    border-color:#1778d3;
}

  action[type=button][theme=primary] > button:active {
    background:#015eb6;
    border-color:#107ba8;
}

  action[type=button][theme=primary] > button[disable=true] {
    cursor:not-allowed;
    background:#EBEBEB;
    border-color:#EBEBEB;
    color:#5B5B5B;
}

  action[type=button][theme=secondary] > button {
    background:#ffffff;
    border-color:#CCCCCC;
    color:#5F6062;
}

  action[type=button][theme=secondary] > button:hover {
    border-color:#767676;
}

  action[type=button][theme=secondary] > button:active {
    background:#5F6062;
    color:#ffffff;
}

  action[type=button][theme=secondary][selected=true] > button {
    border-color:#1778d3;
    color:#1778d3;
}

  action[type=button]:nth-child(n+2) {
    margin-left:16px;
  }

action[type=link] {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #1778d3;
    cursor: pointer;
    text-transform: uppercase;
    flex: 1 1;
    -webkit-appearance: initial
}

flag {
                        display:flex;
                        align-items:center;
                        justify-content:center;
                        height:32px;
                        border-radius:100px;
                        width:-webkit-fit-content;
                        width:-moz-fit-content;
                        width:fit-content;
                        margin-bottom:8px;
}
    flag[theme=yoda] {
                        background-color:#00844d;
                        color:#ffffff;
}
    flag[theme=bb8] {
                        background-color:#cf4900;
                        color:#ffffff;
}
    flag[theme=saber] {
                        background-color:#1778d3;
                        color:#ffffff;
}
    flag[theme=r2d2] {
                        background-color:#00338d;
                        color:#ffffff;
}
    flag[theme=redLeader] {
                        background-color:#d52b1e;
                        color:#ffffff;
}
    flag[theme=c3po] {
                        background-color:#ffc425;
                        color:#333333;
}
    flag[theme=grey] {
                        background-color:#CCCCCC;
                        color:#333333;
}
    flag block > wrapper > wrapper:nth-child(2) {
                        display:flex;
                        flex-wrap:wrap;
                        flex-direction:column;
                        flex:1 1;
}
    flag block > wrapper > wrapper:nth-child(2) > thing:nth-child(1) {
                        font-size:14px;
                        font-weight:500;
                        text-transform:capitalize;
                        text-align:center;
                    }
    flag block > wrapper > wrapper:nth-child(2) > thing {
                        width:100%;
                        font-size:14px;
                        margin:0 0 8px 0;
}
    flag block > wrapper > wrapper:nth-child(2) > thing > thing:nth-child(1) {
                        font-size:14px;
                        font-weight:500;
                        text-transform:capitalize;
                        text-align:center;
                    }
    flag block > wrapper > wrapper:nth-child(2) > thing:empty {
                        display:none;
}
    flag block > wrapper > wrapper:nth-child(2) > thing:last-child {
                        margin-bottom:0px;
}
    flag > block {
                        background:none;
}
    flag > block > wrapper {
                        padding:0 16px 0 16px;
                        display:block;
}
    flag:nth-child(n+2) {
                        margin-left:8px;
}

tag {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            border-radius: 100px;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            margin-bottom: 8px;
}
    tag[theme=grey] {
            background-color: #CCCCCC;
            color: #333333;
}
    tag block > wrapper {
            display: flex;
        }
    tag block > wrapper > wrapper:nth-child(2) {
            display: flex;
                    justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            flex: 1 1;
}
    tag block > wrapper > wrapper:nth-child(2) > thing:nth-child(1) {
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
    tag block > wrapper > wrapper:nth-child(2) > thing {
                    justify-content: center;
            width: 100%;
            font-size: 14px;
            margin: 0 0 8px 0;
}
    tag block > wrapper > wrapper:nth-child(2) > thing > thing:nth-child(1) {
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
    tag block > wrapper > wrapper:nth-child(2) > thing:empty {
            display: none;
}
    tag block > wrapper > wrapper:nth-child(2) > thing:last-child {
            margin-bottom: 0px;
}
    tag > block {
            background: none;
}
    tag > block > wrapper {
            padding: 0 16px 0 16px;
            display: flex;
}
    tag:nth-child(n+2) {
            margin-left: 8px;
}

wrapper {
        display:block;
        position:relative;
}
  wrapper[type=field] {
        color:#333333;
        cursor:text;
        margin:24px 0 8px 0;
        min-width:140px;
}
  wrapper[type=field][state=empty] > [type=input] > [type=label] {
        font-weight:500;
        font-size:16px;
        bottom:5px;
}
  wrapper[type=field][state=focused] > [type=input] > [type=label] {
          font-weight:700;
          font-size:12px;
          bottom:27px;
}
  wrapper[type=field][state=focused][char_count="0"] > [type=input] > [type=label] {}
  wrapper[type=field][state=focused][char_count="0"] > [type=input]:after {
            opacity:1;
          }
  wrapper[type=field][state=typing] > [type=input] > [type=label] {
          font-weight:700;
          font-size:12px;
          bottom:27px;
}
  wrapper[type=field][state=typing][char_count="0"] > [type=input] > [type=label] {}
  wrapper[type=field][state=typing][char_count="0"] > [type=input]:after {
            opacity:1;
          }
  wrapper[type=field][state=idle] > [type=input] > [type=label] {}
  wrapper[type=field][state=idle][char_count] > [type=input] > [type=label] {
            font-weight:700;
            font-size:12px;
            bottom:27px;
}
  wrapper[type=field][state=idle][char_count="0"] > [type=input] > [type=label] {
            font-weight:500;
            font-size:16px;
            bottom:5px;
}
  wrapper[type=field][state=idle][char_count="0"] > [type=input] > [type=label] + input {
                opacity:0;
}
  wrapper[type=field] > [type=message] {
      min-height:24px;
}
  wrapper[type=field] > [type=message]:empty {
        opacity:0;
}
  wrapper[type=field] > wrapper[type=input] {
        outline:none;
        height:48px;
        margin:0 8px 0 0;
        border-bottom:2px solid;
}
  wrapper[type=field] > wrapper[type=input]:after {
        font-size:16px;
        color:#767676;
        display:block;
        position:absolute;
        content:attr(mask);
        top:25px;
        opacity:0;
        transition:.1s linear;
}
  wrapper[type=field] > wrapper[type=input]:after[state=empty] > [type=input] > [type=label] {
        font-weight:500;
        font-size:16px;
        bottom:5px;
}
  wrapper[type=field] > wrapper[type=input]:after[state=focused] > [type=input] > [type=label] {
          font-weight:700;
          font-size:12px;
          bottom:27px;
}
  wrapper[type=field] > wrapper[type=input]:after[state=focused][char_count="0"] > [type=input] > [type=label] {}
  wrapper[type=field] > wrapper[type=input]:after[state=focused][char_count="0"] > [type=input]:after {
            opacity:1;
          }
  wrapper[type=field] > wrapper[type=input]:after[state=typing] > [type=input] > [type=label] {
          font-weight:700;
          font-size:12px;
          bottom:27px;
}
  wrapper[type=field] > wrapper[type=input]:after[state=typing][char_count="0"] > [type=input] > [type=label] {}
  wrapper[type=field] > wrapper[type=input]:after[state=typing][char_count="0"] > [type=input]:after {
            opacity:1;
          }
  wrapper[type=field] > wrapper[type=input]:after[state=idle] > [type=input] > [type=label] {}
  wrapper[type=field] > wrapper[type=input]:after[state=idle][char_count] > [type=input] > [type=label] {
            font-weight:700;
            font-size:12px;
            bottom:27px;
}
  wrapper[type=field] > wrapper[type=input]:after[state=idle][char_count="0"] > [type=input] > [type=label] {
            font-weight:500;
            font-size:16px;
            bottom:5px;
}
  wrapper[type=field] > wrapper[type=input]:after[state=idle][char_count="0"] > [type=input] > [type=label] + input {
                opacity:0;
}
  wrapper[type=field] > wrapper[type=input]:after > [type=message] {
      min-height:24px;
}
  wrapper[type=field] > wrapper[type=input]:after > [type=message]:empty {
        opacity:0;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] {
        position:absolute;
        font-weight:500;
        font-size:16px;
        bottom:5px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label][state=empty] > [type=input] > [type=label] {
        font-weight:500;
        font-size:16px;
        bottom:5px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label][state=focused] > [type=input] > [type=label] {
          font-weight:700;
          font-size:12px;
          bottom:27px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label][state=focused][char_count="0"] > [type=input] > [type=label] {}
  wrapper[type=field] > wrapper[type=input] > thing[type=label][state=focused][char_count="0"] > [type=input]:after {
            opacity:1;
          }
  wrapper[type=field] > wrapper[type=input] > thing[type=label][state=typing] > [type=input] > [type=label] {
          font-weight:700;
          font-size:12px;
          bottom:27px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label][state=typing][char_count="0"] > [type=input] > [type=label] {}
  wrapper[type=field] > wrapper[type=input] > thing[type=label][state=typing][char_count="0"] > [type=input]:after {
            opacity:1;
          }
  wrapper[type=field] > wrapper[type=input] > thing[type=label][state=idle] > [type=input] > [type=label] {}
  wrapper[type=field] > wrapper[type=input] > thing[type=label][state=idle][char_count] > [type=input] > [type=label] {
            font-weight:700;
            font-size:12px;
            bottom:27px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label][state=idle][char_count="0"] > [type=input] > [type=label] {
            font-weight:500;
            font-size:16px;
            bottom:5px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label][state=idle][char_count="0"] > [type=input] > [type=label] + input {
                opacity:0;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] > [type=message] {
      min-height:24px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] > [type=message]:empty {
        opacity:0;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input {
        font-size:16px;
        color:#333333;
        width:100%;
        background:rgba(255,255,255,0);
        border:0px none;
        position:absolute;
        left:0px;
        bottom:0px;
        margin-top:0px;
        padding:6px 0 4px 0;
        z-index:10;
        opacity:1;
        transition:.1s cubic-bezier(0.84,-0.01, 1, 1);
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input[state=empty] > [type=input] > [type=label] {
        font-weight:500;
        font-size:16px;
        bottom:5px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input[state=focused] > [type=input] > [type=label] {
          font-weight:700;
          font-size:12px;
          bottom:27px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input[state=focused][char_count="0"] > [type=input] > [type=label] {}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input[state=focused][char_count="0"] > [type=input]:after {
            opacity:1;
          }
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input[state=typing] > [type=input] > [type=label] {
          font-weight:700;
          font-size:12px;
          bottom:27px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input[state=typing][char_count="0"] > [type=input] > [type=label] {}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input[state=typing][char_count="0"] > [type=input]:after {
            opacity:1;
          }
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input[state=idle] > [type=input] > [type=label] {}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input[state=idle][char_count] > [type=input] > [type=label] {
            font-weight:700;
            font-size:12px;
            bottom:27px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input[state=idle][char_count="0"] > [type=input] > [type=label] {
            font-weight:500;
            font-size:16px;
            bottom:5px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input[state=idle][char_count="0"] > [type=input] > [type=label] + input {
                opacity:0;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input > [type=message] {
      min-height:24px;
}
  wrapper[type=field] > wrapper[type=input] > thing[type=label] + input > [type=message]:empty {
        opacity:0;
}


wrapper[type=select_input] {
  margin: 24px 0 8px 0;
  min-width: 140px;
  z-index:100;
}
  wrapper[type=select_input] > .px-select > .px__control {
      border: 0px none;
      border-radius: 0px;
      border-bottom: 2px solid;
      background-color: transparent;
      box-shadow:0 0 0 1px rgba(255,255,255,0);
      height:48px;
      transition: margin .2s
    }
  wrapper[type=select_input] > .px-select > .px__control.px__control--menu-is-open {
        margin-bottom:150px;
      }
  wrapper[type=select_input] > .px-select > .px__control > .px__value-container {
        padding:0px;
        height:100%;
      }
  wrapper[type=select_input] > .px-select > .px__control > .px__value-container > div {
          position:absolute;
          bottom: 5px;
          transform: translateY(0%);
          top: unset;

          font-weight: 500;
          font-size: 16px;

          margin:0px;
        }
  wrapper[type=select_input] > .px-select > .px__control > .px__value-container > .px__single-value + div, wrapper[type=select_input] > .px-select > .px__control > .px__value-container > div:first-child + div {
            padding:0px;
            width:100%;
          }
  wrapper[type=select_input] > .px-select > .px__control > .px__value-container > .px__placeholder {
          margin-left:0px;
        }
  wrapper[type=select_input] > .px-select > .px__control > .px__value-container > .px__placeholder + div > .px__input > input + div {

                }
  wrapper[type=select_input] > .px-select > .px__control > .px__indicators > span.px__indicator-sepeartor + .px__indicator > svg {

            }
  wrapper[type=select_input] > .px-select > .px__control + .px__menu {
        margin:0px;
        border-radius: 0 0 4px 4px;
      }
  wrapper[type=select_input] > .px-select > .px__control + .px__menu > .px__menu-list {
          padding:0px;
          z-index:101;
          border-top: 2px solid #1778d3;
          margin-top:-2px;
          max-height:192px;
        }
  wrapper[type=select_input] > .px-select > .px__control + .px__menu > .px__menu-list > div.px__option {
              position: relative;
              height: 48px;
              display: flex;
              align-items: center;
              padding: 0 24px;
              line-height: 18px;
              border: 1px solid rgba(0,0,0,0);
              border-bottom-color: #ccc;
              letter-spacing: .035em;
              color: #333;
              background-color: #fff;
              font-size:14px;
              cursor: pointer;

              -webkit-font-smoothing: antialiased;
              font-smoothing: antialiased;
              -webkit-text-rendering: optimizeLegibility;
              text-rendering: optimizeLegibility
            }
  wrapper[type=select_input] > .px-select > .px__control + .px__menu > .px__menu-list > div.px__option:last-child {
                border-bottom:0px none;
                border-radius: 0 0 4px 4px;
              }
  wrapper[type=select_input] > .px-select > .px__control + .px__menu > .px__menu-list > div.px__option:hover {
                background-color: #f7f7f7;
              }
  wrapper[type=select_input] > .px-select > .px__control + .px__menu > .px__menu-list > div.px__option:hover, wrapper[type=select_input] > .px-select > .px__control + .px__menu > .px__menu-list > div.px__option[class*="px__option--is-"] {
                transition: background .3s;
                color: #1778d3;
                -webkit-text-stroke: 0.035em #1778d3;
              }
  wrapper[type=select_input] > .px-select > .px__control + .px__menu > .px__menu-list > div.px__option.px__option--is-focused:hover {

                }
  wrapper[type=select_input] > .px-select > .px__control + .px__menu > .px__menu-list > div.px__option.px__option--is-selected:after {
                  content: "";
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  height: calc(100% - 5px);
                  width: calc(100% - 28px);
                  display: flex;
                  align-items: center;
                  padding: 0 0px 0 24px;
                  line-height: 18px;
                  border: 2px solid #1778d3;
                  border-radius:2px;
                  box-shadow:0px 0px 6px rgba(0,0,0,.3);
                }

thing[type=label] {
    font-weight: 500;
    font-size: 16px;
    color: #5F6062;
    text-transform: capitalize;
    transition: .1s cubic-bezier(0.84,-0.01, 1, 1)
}

wrapper[type=message] {
    font-size: 12px;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: .1s linear
}

wrapper[type=interview] {
    overflow:hidden;
}
    wrapper[type=interview] > wrapper {
        display:flex;
    }
    wrapper[type=interview] > wrapper > group {
            display:none
        }
    wrapper[type=interview] > wrapper > group[type=question] {

            }
    wrapper[type=interview] > wrapper > group[active=true] {
                display:block;
            }

group {
    display: block;
    position: relative;
}
    group[type=header] > [type=title] {
    margin: 0px 0px 16px 0px;
}
    group > wrapper > wrapper[type=header] > [type=title] {
    margin: 0px 0px 16px 0px;
}

page {
    display: flex;
    position: relative;
    padding: 0 56px 0px 56px;
    background: #ffffff;
}
    page[type=header] > block > wrapper {
    padding: 40px 0 40px 0;
}
    page[type=header] > block > wrapper > wrapper:nth-child(2) > thing:nth-child(1) {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
    page[type=header] > block:after {
    content: " ";
    border-bottom: 1px solid #EBEBEB;
    width: calc(100% + 112px);
    position: absolute;
    bottom: 0;
    left: -56px;
}
    page[type=header] > block > wrapper {
    padding: 40px 0 40px 0;
}
    page[type=body] {
    margin: 24px 0 0 0;
}
    page[type=footer] {
    min-height: 56px;
}
    page > wrapper {
    flex: 1 1;
}
    page > wrapper > wrapper[type=header] > block > wrapper {
    padding: 40px 0 40px 0;
}
    page > wrapper > wrapper[type=header] > block > wrapper > wrapper:nth-child(2) > thing:nth-child(1) {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
    page > wrapper > wrapper[type=header] > block:after {
    content: " ";
    border-bottom: 1px solid #EBEBEB;
    width: calc(100% + 112px);
    position: absolute;
    bottom: 0;
    left: -56px;
}
    page > wrapper > wrapper[type=header] > block > wrapper {
    padding: 40px 0 40px 0;
}
    page > wrapper > wrapper[type=body] {
    margin: 24px 0 0 0;
}
    page > wrapper > wrapper[type=footer] {
    min-height: 56px;
}



/*# sourceMappingURL=/module.css.map */